

@media screen and (max-width: 1200px){
     html{
          font-size: 55.5%;
     }
     /* brand */
     .brand-logo{
          gap: 1rem ;
     }
     .brand-logo img{
          width: 75%;
     }
     /* Collection */
     .collection-section{
          padding: 4.5rem 0;
     }
     .collection-card{
          grid-template-columns: repeat(2, 1fr);
          gap: 5rem;
     }
     /* Featured start */
     .featured-section{
          gap: 3.5rem;
     }
     .featured-section .featured-img,
     .featured-section .featured-content{
          width: 50%;
     }
     
}


@media screen and (max-width: 992px){
     html{
          font-size: 52.5%;
     }
     .container{
          width: 80vw;
          margin: 0 auto;
     }
     .container-two{
          width: 82vw;
          margin: 0 auto;
     }
     /* 00 banner start */
     .home-banner{
          flex-direction: column-reverse;
          gap: 3rem;
     }
     .banner-img{
          width: 80%;
     }
     .banner-description{
          width: 100%;
          text-align: center;
     }
     .banner-description .banner-dtail{
          margin: 0 auto;
     }
     /* Collection */
     .collection-section{
          padding: 3.5rem 0;
     }
     .collection-card{
          grid-template-columns: repeat(2, 1fr);
          gap: 2rem;
     }
    

}


@media screen and (max-width: 768px){
     html{
          font-size: 50%;
     }
     .container{
          width: 85vw;
          margin: 0 auto;
     }
     .container-two{
          width: 88vw;
          margin: 0 auto;
     }
     /* navber */
     ul{
          display: none;
     }
     /* 00 banner start */
     .banner-img{
          width: 70%;
     }
     /* Collection */
     .collection-section{
          padding: 2.5rem 0;
     }
     .collection-card{
          grid-template-columns: repeat(2, 1fr);
          gap: 2.5rem;
     }
     /* Featured start */
     .featured-section{
          flex-direction: column;
     }
     .featured-section .featured-img{
          width: 100%;
     }
     .featured-section .featured-content{
          width: 100%;
     }

}

@media screen and (max-width: 576px){
     html{
          font-size: 45%;
     }
     .container{
          width: 90vw;
          margin: 0 auto;
     }
     .container-two{
          width: 90vw;
          margin: 0 auto;
     }
     /* Collection */
     .collection-card{
          grid-template-columns: 1fr;
          gap: 2.5rem;
     }
}



@media screen and (max-width: 350px){
     html{
          font-size: 35%;
     }
     .brand-logo{
          flex-direction: column;
          gap: 3rem;
     }
     .brand-logo img{
          width: 100%;
     }
}